<h2 style="margin-bottom: 20px">_faq</h2>

<div class="container background">
		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq1" style="background-color: white">faq > pourquoi se connecter ?
</button>
  				<div id="faq1" class="collapse" style="background-color: white">
   
    	Nous avons choisi de donner la possibilité de pouvoir poster du contenu sur orama sans avoir a être connecté, c’est-à-dire de laisser le choix de s’inscrire ou non. Tout le monde peut donc publier sur orama de façon anonyme. Toutes les publications envoyées de cette manière ne seront plus éditables, puisque si tout le monde pouvait modifier des contenus de façon anonyme, un troll aurait vite fait de mettre en l’air le site. C’est pour cette raison que nous avons donné la possibilité de créer des comptes, qui vous permettent de garder une trace de ce que vous publiez sur le site et de pouvoir les modifier. 

  				</div>
  		</li>
  		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq2" style="background-color: white">faq > à quoi sert le pad des causeries ? 

</button>
  				<div id="faq2" class="collapse" style="background-color: white">
   
    	Le pad des causeries est un éditeur de texte à plusieurs et libre. Comme un gros bloc notes collectif, ce pad n’a pas pour objectif d’être un lieu de rédaction de choses arrêtées, c’est au contraire une page sur laquelle vous pouvez faire des propositions pour les causeries à venir : suggérer des sujets à aborder, des formes, des lieux, des invités, etc. 

  				</div>
  		</li>
  		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq3" style="background-color: white">Faq > Pourquoi des mots de passe ?

</button>
  				<div id="faq3" class="collapse" style="background-color: white">
   
    	Dans Utopie du logiciel libre, (http://lepassagerclandestin.fr/fileadmin/assets/catalog/essais/Utopie_logiciel_libre__Broca__Le_passager_clandestin.pdf) Sébastien Broca raconte un épisode de la vie de Richard Stallman, l’inventeur du logiciel libre, confronté à l’apparition des premiers mots de passe : « En parallèle à l’écriture de lignes de code, Richard Stallman ne cessait de défendre l’ouverture de tous les logiciels et ordinateurs utilisés au sein du laboratoire. Il lutta notamment contre l’introduction de mots de passe, que de nombreux enseignants du MIT (notamment au sein du laboratoire concurrent, le Laboratory for Computer Science) se mirent à défendre à la fin des années 1970. Suite à l’installation en 1977 d’un tel système de sécurité, Richard Stallman contre-attaqua conformément à la tradition hacker de l’action directe. Il modifia le code source du système, de sorte que le message suivant apparaisse dès qu’un utilisateur entrait son mot de passe : « Je vois que vous avez choisi le mot de passe “x”. Je vous suggère d’utiliser le mot de passe “Entrée”. Plus facile à taper, il démontre le caractère illusoire des mots de passe et de la sécurité ». Bien qu’elle connût pendant un temps un certain succès, la campagne de Richard Stallman fut finalement mise en échec : en 1980, tous les ordinateurs du MIT avaient été munis de systèmes de sécurité. » (pages 47-48)

Si les mots de passe étaient, au début du web, une pratique restrictive et tristement sécuritaire, ils sont malheureusement devenus aujourd’hui indispensables. Ce sont eux qui posent une première barrière contre l’espionnage et le piratage de vos données personnelles. Selon Edward Snowden, interrogé par le présentateur américain John Oliver en 2015, « Les mauvais mots de passe sont un des moyens les plus faciles pour hacker un système. Pour quelqu'un qui a un mot de huit caractères très commun, cela prend littéralement moins d'une seconde pour un ordinateur le contourner. » (https://www.franceinter.fr/culture/faites-confiance-a-edward-snowden-changez-vos-mots-de-passe) Et si le même mot de passe se trouve être utilisé sur la plupart des sites que vous utilisez, il suffira d’un piratage via un de ces sites pour accéder dans la foulée à toutes les données protégées par ce même mot de passe : il ouvrira l’accès à l’ensemble de vos comptes, et pourra également impacter vos contacts (envois de mails piratés se faisant passé pour vous, etc).

  				</div>
  		</li>
  		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq4" style="background-color: white">faq> comment supprimer mon compte ? 

</button>
  				<div id="faq4" class="collapse" style="background-color: white">
   
    	Pour supprimer votre compte, connectez-vous pour accéder à votre espace personnel, puis cliquez sur supprimer mon compte. 

  				</div>
  		</li>
  		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq5" style="background-color: white">Faq> Une fois mon compte supprimé, que deviennent mes données ? </br>s’agit-il d’une vraie suppression ou simplement d’une désactivation ? 


</button>
  				<div id="faq5" class="collapse" style="background-color: white">
   
    	Une fois votre compte supprimé, l’ensemble de vos données, liens postés, sujets abordés etc, tout sera supprimé définitivement d’orama. Nous ne conservons aucune de vos données. 

  				</div>
  		</li>
  		<li>
  			<button type="button" data-toggle="collapse" data-target="#faq6" style="background-color: white">Faq > Utilisez-vous mes données ? 


</button>
  				<div id="faq6" class="collapse" style="background-color: white">
   Vos données ne circulent pas ailleurs que sur orama. Nous ne vendons vos données à personne. La revente des données personnelles est la façon dont procèdent une écrasante majorité de services propriétaires apparemment gratuits. Ils ne le sont pas, puisque nous payons à coups d’informations personnelles notre passage sur ces sites et autres logiciels. C’est contre cette monétisation de la vie privée, pour sa protection, et pour un internet libre, que nous nous positionnons avec orama. Le site Protège tes données (https://controle-tes-donnees.net/) propose plusieurs façons de reprendre le contrôle sur l’utilisation de vos données personnelles. Vous en trouverez d’autres dans le catalogue !


  				</div>
  		</li>

</div>