<% provide(:title, "fabrique") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body>
	 <div class="container">
	 	<h1 style="justify-content: center">Bientôt</h1>
	 </div>
</body>
</html>
