<% provide(:title, "home") %>
<!DOCTYPE html>
<html>
<head>
	<title> <%= yield(:title) %> </title>
</head>
<body>
	<% if logged_in? %>
		<div class="row">
			<aside class="col-md-4">
				<section class="user_info">
					<%= render 'shared/user_info' %>
				</section>
				<section class="stats">
					<%= render 'shared/stats' %>
				</section>
				<section class="micropost_form">
					<%= render 'shared/micropost_form' %>
				</section>
			</aside>
			<div class="col-md-8">
				<h3>remplis tes messages</h3>
				<%= render 'shared/feed' %>
			</div>
		</div>
	<% else %>
	<%= render 'shared/link_form' %>
	<div class="center jumbotron">
	 	<h1>Orama</h1>
    	<h2>
      		<a href="http://www.railstutorial.org/">orama</a>
    	</h2>
    	<%= link_to "s'inscrire", signup_path, class: "btn btn-lg btn-primary"%>
    </div>
    <% end %>
</body>
</html>