<% provide(:title, "orama") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body>
	<div class="container background" style="height: 200px;">
	<div class="block_l">
		<div class="block-head_l">
			<h2>orama</h2>
		</div>
		<div class="block-body_l">
			<p class="back_faq font_l">bienvenue sur orama !<br>
orama = suffixe des mots lié à la vue, <br>au fait de voir <a href="https://fr.wiktionary.org/wiki/-orama" class="ch_color_e">[https://fr.wiktionary.org/wiki/-orama]</a>
en et hors ligne, <br>orama regarde les outils libres et autres moyens alternatifs qui flirtent avec les pratiques artistiques.<br>
vous êtes donc ici sur la partie en ligne d'orama, où vous trouverez <br><b><%= link_to "le catalogue de liens", links_path, class: "ch_color_i" %></b>, <br><b><%= link_to "la fabrique des outils", fabrique_path, class: "ch_color_i"%>,</b> <br>et le programme <b><%= link_to "des causeries", causeries_path, class: "ch_color_i"%></b> (les causeries étant la partie hors ligne d'orama).
			</p>
		</div>	
	</div>
	</div>
</body>
</html>

