<% provide(:title , "le topo") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<div class="container">
			<div class="row background">
				<div class="col-md-4">
					<p class="back_faq faq2">orama regarde les moyens alternatifs de création artistique, commente, et comme d’autres avant, partage ses découvertes. 
Faire que le logiciel libre soit plus visible : qu’on en parle, qu’on l’utilise. Que l’utilisation de ces logiciels soient également reconnus dans le milieu du travail. 
Le logiciel libre permet une utilisation d’un outil qui respecte la protection de la vie privée de ses utilisateurs, rend perméable et accessible sa structure même, ouvre d’autres possibilités de créations que celles largement standardisées par l’usage de logiciels propriétaires (type suite adobe). 
Imaginer et fabriquer d’autres moyens de production, qui s’adapte au web, qui passent par le code. 
Initier aux logiciels libres, participer à les rendre plus visibles 
qu’on puisse choisir le logiciel qu’on utilise 
comprendre l’impact des outils et de nos passages sur internet 
orama ne traque pas 
ne revend pas les données 
orama regarde les moyens alternatifs de création parce qu’ils permettent d’envisager d’autres manières de faire, utiliser des outils qui respectent la vie privée, encourager la création et la compréhension des choses qu’on utilise, essayer des choses
orama cherche à apprendre
cherche à faire connaître 
cherche à causer 
cherche à fabriquer 
</p>
				</div>
				<div class="col-md-4">
					<p class="back_faq faq2">"En fait, le logiciel libre est doublement révolutionnaire. Il s'oppose en premier lieu à la logique qui consiste à privatiser la connaissance et l'usage pour maintenir les utilisateurs dans un état de dépendance et établir un monopole basé uniquement sur le non-partage d'un programme (c'est à dire du code issu d'un langage informatique la plupart du temps connu de tous)."</p>
				</div>
				<div class="col-md-4">
					<p class="back_faq faq2">Suprématie des GAFAM dans le monde de l’art :
initiation quasi systématique aux logiciels propriétaires : le logiciel libre est peu considéré dans les écoles d’arts, pourtant lieu de créations (création de l’outil, et création avec l’outil), et c’est sans ambivalence que les logiciels propriétaires sont installés sur les ordinateurs et vers lesquels l’enseignement se tourne très majoritairement. Pourtant, ces logiciels, par le fait même que leur structure (leur code) soit tenu fermé, restreint les possibilité de créations. Utiliser des outils que l’on puisse modifier. Comprendre le fonctionnement d’un outil pour ne pas être esclave de cet outil. Reprendre la main sur le processus même de fabrication de ses pièces. Puis, et surtout, visualiser l’impact de l’utilisation d’outils propriétaires sur nos données, c’est-à-dire sur notre vie privée </p>
				</div>
			</div>
		</div>
	</body>
</html>
