<h1>orama.ninja</h1>

<p>
  <%= @greeting %> <%= @user.name %>, 
  veuillez cliquer sur le lien ci-dessous pour activer vtore compte :
</p>
<%= link_to "Activer votre compte", edit_account_activation_url(@user.activation_token,
                                                    			email: @user.email) %>