Orama.ninja

<%= @greeting %> <%= @user.name %>, 

Bienvenue sur orama ! Cliquez sur le lien ci-dessous pour activer votre compte :

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
