<% provide(:title, "se connecter") %>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>
<body>
<div class="container">
	<p>votre mail n' apparaîtra j amais sur le site, mais il vous permettra de recevoir des messages
          lorsque quelqu' un tentera de vous contacter
</p>
	<div class="table-responsive table-bordered col-md-6 form">
		<div class="table">
		<%= form_for(:session, url: login_path) do |f| %>			
				<div class="form-inline"><%= f.label :email , "mail"%>&nbsp;
				<%= f.text_field :email, class: 'form-control' %></div>

				<div class="form-inline"><%= f.label :password, "mot de passe" %>
				<%= f.password_field :password, class: 'form-control'%></div>
				<div class="form-inline"><%= f.submit "envoyer", class: "submit"%> </div>
		</div>
	</div>

				<div class="form-inline" style="margin-top: 15px;"><%= f.label :remenber_me, class: "checkbox-inline" do %>
					<%= f.check_box :remenber_me%>
					<span style=" margin-left: 30px">Se&nbsp;rappeler&nbsp;de&nbsp;moi&nbsp;sur&nbsp;cet&nbsp;ordinateur</span></div>
				<% end %>

				
			<% end %>
			<div style="margin-top: 20px">pas encore de compte? <%= link_to "s'inscrire", signup_path, class: "ch_color_i" %></div>
</div>
</body>
</html>
