
<div class="container">
  <div class="table-responsive table-bordered col-md-12 form">
    <div class="table">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-inline"><%= f.label :name, "pseudo" %>
      <%= f.text_field :name, class: 'form-control' %></div>

      <div class="form-inline"><%= f.label :email, "mail" %>
      <%= f.email_field :email, class: 'form-control' %></div>

      <div class="form-inline"><%= f.label :password, "mot de passe" %>
      <%= f.password_field :password, class: 'form-control' %></div>

      <div class="form-inline"><%= f.label :password_confirmation, "répéter votre mot de passe" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %></div>

      <div><%= f.submit "envoyer", class: "submit"%></div>
      <% end %>
    </div>
  </div>
</div>