<li>
		nom: <%= user.name %>, email: <%= user.email%>
		<!-- add path to see user -->
		<% link_to user.name, user %>
		<% if current_user.admin? && !current_user?(user) %>
		<!-- <% current_user?(user) %> -->
			<%= link_to " supprimer", user, method: :delete, data: {confirm: "tu veux vraiment faire ça" } %>
		<% end %>
	</li>