<% provide(:titte, "editer son profil") %>
<h1>Change ton mot de passe</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'form' %>
	</div>
	<div class="block-head">
		<%= link_to "pourquoi?", link_path(id:[69]), class: "ch_color_i" %>
	</div>			
</div>


	