<% provide(:title, 'Tout les membres') %>
<h1>Tout les membres</h1>

<%= will_paginate @user %>

<ul class="users">
	<% @users.each do |user| %>
	<%= render @users %>
	<%= link_to user[:name], user%>
	<% end %>
</ul>  
