<% provide(:title, "s'inscrire") %>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>
<body>
	<p>votre mail n' apparaîtra j amais sur le site, mais il vous permettra 	derecevoir des messages
          lorsque quelqu' un tentera de vous contacter
	</p>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= render 'form' %>
		</div>
	</div>
</body>
</html>
