<% provide(:title, @user.name) %>
 <!DOCTYPE html>
<html>
<head>
	<title>show</title>
</head>
<body>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<h1>
					<%= @user.name %>, <%= @user.email%>
				</h1>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		</aside>
		<div class="col-md-8">
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
		</div>
	</div>
</body>
</html>


<div class="block-body" id="onglet-1">
				<tr>
					<li>
						<td> <%= @user.name %></td>
						<td><%= @user.email%></td></br>
						</br>
					</li>
				</tr>
			</div>