<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %> 
	<div class="field">
		<%= f.text_area :content, placeholder: " ecrit ton message ;)" %>
	</div>
	<%= f.submit "Envoyer", class: "btn btn-primary" %>
	<span class="picture">
		<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
	</span>
<% end %>

<script type="text/javascript">
	$('#micropost_picture').bind('change', function() {
			var size_in_megabytes = this.files[0].size/1024/1024;
			if (size_in_megabytes > 5) {
				alert('La taille est limitée à 5MB. Choisit un fichier plus petit ;)')
			}
	});
</script>