
<%= form_for (@links.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field modal-content">
    <div class="modal-body">
      <form role>
        <div class="table-responsive table-bordered col-md-12" style="border: none">
  	       <div class="form-inline"><%= f.text_area :name, placeholder: "titre" %></div>
  	       <div class="form-inline"><%= f.url_field :url, placeholder: "lien" %></div>
            <div class="form-inline"><%= f.text_area :content, placeholder: "description" %></div>
            <div class="form-inline"><%= f.collection_select(:category_id, Category.all, :id, :name)%></div>
   
  </div>
 
  <%= f.submit "envoyer", class: "submit" %>
<% end %>
  <button type="button" data-dismiss="modal" class="submit">[x]</button>
   </form>
   </div>
    </div>