	<body>
		<div class="block background" id="block-1">
			<div class="block-head">
				liens
			</div>
			<div class="block-body" id="onglet-1">
				<% @links.each do |link| %>
				<tr>
					<li class="selectable">
						<td> <%= link_to link[:name], link_path(link), class: "ch_color_i"%></td>

				<% end %>
						</br>
					</li>
				</tr>
			</div>
		</div>
		<a href="#" data-toggle="modal" data-target="#myModal"  data-backdrop="false" class=" btn hoverme">[<>]</a>
		<div class="search">
			<%= form_tag(links_path, :method => "get", id: "search-form") do%>
				<%= text_field_tag :search, params[:search], placeholder: "recherche"%>
				<%= submit_tag "ok", :name => nil %>
			<% end %>
			<% if @links.blank? %>
				<h4>il n'y a pas de liens contenant <%= params[:search] %></h4>
			<% end %>
		</div>
	</body>
