<p>nous avons fabriqué ce catalogue à partir d’initiatives artistiques, d’outils libres, de moyens alternatifs et de ressources que nous aimons et qui nous aident à fabriquer orama. Nous vous invitons chaudement à <a href="#" data-toggle="modal" data-target="#myModal"  data-backdrop="false" class="i_links">y envoyez des liens</a>, ou plusieurs !</p>
<div class="container background">
	<div class="row">
		<div id="myModal" class="modal" tabindex="-2" role="dialog">
			<div class="modal-dialog">
				<div class="myModal-container">
					<%= render 'links/form' %>
				</div>
			</div>
		</div>
			<%= render 'links/leon'%>
		
		
		