<div class="row background">
	<div class="block col-md-4 " id="block-1">
		<div class="block-head">
				liens
		</div>
		<div class="block-body" id="onglet-1">
			<tr>
				<li class="selectable">
					<td> <%= @link.name %></br></td>
					<td><%= @link.content %></br></td>
					<td><%= link_to @link.url, "#{@link.url}", :target => "blank", class: "ch_color_e"%></br></td>
					</br>
				</li>
			</tr>
		</div>	
	</div>
	<div class="col-md-8">
		<%= content_tag(:iframe,'', width: 500, height: 300, src: @link.url)%>
	</div>
</div>
