/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'liberation_monoregular';
    src: font-url('LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.search {
  margin-top: 5%;
  margin-left: 15%;
}

.hoverme {
  height: 10%;
  border: solid black 1px !important;
  padding-top: 50%;
  margin-top: 5%;
  background-color: white;
  margin-left: 10%;
}

.hoverme:hover {

 background-image: url("../images/poste_ton_lien.png");
 z-index: 10;
 background-color: blue;
}

.background {
  background: white;
  background-image: radial-gradient(black 15%, transparent 0);
  background-size: 10px 10px;
}

.back_faq {
  background-color: white !important;
  margin-top: 10px;
}

.tab_orama {
  border: 1px solid black;
  overflow: auto;
  max-height: 360px;
  margin-top: 20px;
  width: 240px;
  padding-left: 30px;
  margin-left: -324px;
  overflow: auto;
  margin-bottom: 30px;
}

.tab_h {
  border-bottom: solid 1px black;
  width: 100%;
  height: 60px;
}

.i_links {
  color: #00FF00 !important;
}

 li{
  list-style: none;
  text-decoration: none;
 }

 a {
  text-decoration: none !important;
  color: black !important;
 }

 a:hover {
  text-decoration: none !important;
 }


@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid pink;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: pink;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid pink;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.footer {
 
  position: fixed;
  bottom: 0px;
  width: 50%;
  li {
  border-bottom: solid 1px red;
  }
}

.form-inline {
  border-bottom: 1px solid;
}

.form {
  border: solid black 1px;
  display: inline-block;
}

.form-control {
  border: none;
  display: inline-block;
}

.submit {
  text-decoration: none;
  border: none;
  background-color: white;
}


.header-co {
  margin-bottom: 60px;
}

input, textarea, select, .uneditable-input {
  border: none;
}



//leon lenclos

body {
  margin: 20px;
  font-family: 'liberation_monoregular';
/*  font-family: 'courier new', bold;*/
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: black;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li > :first-child::before {
  content : "_";
}

/* SELECTABLE */
.selectable:hover::before{
  content : "<" !important;
}
.selectable:hover::after {
  content : ">" !important;
}
.select::before, li > :first-child.select::before{
  content : "<";
  color: red !important;
}
.select::after {
  content : ">" !important;
  color: red !important;
}

/* BLOCK */

.block {
  width: 450px !important;
  border: 1px solid black !important;
  background: white !important;
}

.block-head {
  height: 40px !important;
  line-height: 40px !important;
  padding-left : 20px !important;
  padding-right : 20px !important;
  margin : 0 !important;
  border-bottom: 1px solid black !important;
}
.draggable .block-head {
  cursor: grab !important;
}
.block-head [role="button"] {
  float: right !important;
}
.block-head [role="button"]::before{
  content: "[" !important;
}
.block-head [role="button"]:after{
  content: "]" !important;
}
.block-head [role="button"]:hover::before{
  color : red !important;
}
.block-head [role="button"]:hover:after{
  color : red !important;
}
.block-body {
  padding : 20px !important;
  max-height: 230px !important;
  overflow: auto !important;
}

/* DRAGGABLE */
.draggable{
  display: none !important;
  position: fixed !important;
}
.draggable.open{
  display: block !important;
}


//hover

.ch_color_i:hover {
  color: #00FF00 !important;
}

.ch_color_e:hover {
  color: #0000FF !important;
}

//landing

.block_l {
  margin-left: 10%;
  margin-top: 2%;
  width: 750px !important;
  height: 165%;
  border: 1px solid black !important;
  background: white !important;
}

.block-head_l {
  height: 40px !important;
  line-height: 40px !important;
  padding-left : 20px !important;
  padding-right : 20px !important;
  margin : 0 !important;
  border-bottom: 1px solid black !important;
}

.block-body_l {
  padding : 20px !important;
  max-height: 230px !important;
}

.font_l {
  font-size: 1.2em;
}

.faq2 {
    border: solid 1px;
    padding: 10%;
}

//sparkle

$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;
  
  border-radius: 3px;
  transition: all 0.25s ease;
  
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
  
  &:hover {
   
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}


