<footer class="footer">
		<div class="container" style="overflow: hidden;">
			 <nav class="navbar navbar-right">
				<li><%= link_to "le topo", letopo_path %></li>
				<li><%= link_to "faq...?", comment_path %></li>
				<li>pad général</li>
				<li>code source</li>
				<li>contacter</li>
			</nav>
		</div>  		
 </footer>
