<header class="navbar navbar-fixed-top navbar-inverse">
		  <div class="container header-co">
			 <h5 style="border-bottom: solid 1px red;"><%= link_to "orama", root_path, id: "logo" %></h5>
			 <nav>
				<ul class="nav navbar-right">
					<% if logged_in? %>	
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<!--<li><%= link_to "#{}", current_user %></li> -->
							<!-- 'reglage' acces on 'mon espace only for orama'-->
							<li><%= link_to "réglage", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "déconnexion", logout_path, method: :delete %></li>
						</ul>
					</li>
					<% else %>
						<li><h5 style="border-bottom: 1px solid red;"><%= link_to "se connecter", login_path %></h5></li>
					<% end %>
				</ul>
			</nav>
		</div>  		
  	</header>

  	<nav class="navbar navbar-right">
  		<div class="container" style="margin-bottom: 40px;">
  			<li><h1><%= link_to"catalogue", links_path %></h1></li>
			<li><h1><%= link_to "fabrique", fabrique_path %></h1></li>
			<li><h1><%= link_to "causerie", causeries_path %></h1></li>
  		</div>
  	</nav>

